.partida-card {
    background: #121212;
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    border: 1px solid #333;
    transition: 0.3s;
}

.partida-card:hover {
    transform: scale(1.03);
    border-color: #0d6efd;
}

.partida-card .placar {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
}

.partida-card .vencedor {
    color: #aaa;
}
